<!DOCTYPE html>
<script lang="en"></script>
<head>
    <meta charset="UTF-8">

    <title>Real estate website</title>
    {% load crispy_forms_tags %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>

<div class="row">

<div class="col">
<form action="" method="get" name="from_to" class="submit-form">
    {% csrf_token %}
    <div class="form-row" id="from_to">
    <div class="form-group col-md-6 mb-0" id="from_field">
    {{ form.from_field|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0" id="to_field">
    {{ form.to_field|as_crispy_field }}
    </div>
    </div>
    <div class="form-row">
    {{ form.size|as_crispy_field}}
    </div>
    <div class="form-row">
    {{ form.region_choice|as_crispy_field}}
    </div>
    <div class="form-row">
    {{ form.type_choice|as_crispy_field}}
    </div>
    <div class="form-row">
    {{ form.sale_type_choice|as_crispy_field}}
    </div>


<!--    <label for="from_field">From: </label>-->
<!--    <input id="from_field" type="text" name="from_field" value="0">-->
<!--    <label for="to_field">To: </label>-->
<!--    <input id="to_field" type="text" name="to_field" value="1000000000">-->


    <input type="submit" id="submit-btn" class="btn btn-dark" value="Prikaži rezultate">
</form>
</div>

<div class="col-md-6">


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Naslov</th>
      <th scope="col">Vrsta nepremičnine</th>
      <th scope="col">Regija</th>
      <th scope="col">Tip posredovanja</th>
      <th scope="col">Velikost m2</th>
      <th scope="col">Št.sob</th>
      <th scope="col">Cena</th>
    </tr>
  </thead>
  <tbody>
  {% for elt in items %}
    <tr>
      <th scope="row">{{ elt.id }}</th>
      <td>{{ elt.title }}</td>
      <td>{{ elt.listing_type.listing_type }}</td>
      <td>{{ elt.region.region }}</td>
      <td>{{ elt.sale_type.sale_type }}</td>
      <td>{{ elt.square_footage }}</td>
      {% if elt.nu_rooms != None %}
        <td>{{ elt.nu_rooms|floatformat }}</td>
        {% else %}
            <td>/</td>
      {% endif %}
      {% if elt.sale_type.sale_type == 'Oddaja' %}
        <td>{{ elt.price|floatformat }}€ / mesec</td>
        {% else %}
            <td>{{ elt.price|floatformat }}€</td>
      {% endif %}

        <td class="end"><button class="btn btn-secondary delete-button" id={{elt.id}}><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></button></td>

    </tr>

 {% endfor %}
  </tbody>
</table>
</div>

<div class="col">
<div class="row">
    <div class="col md-1"></div>
<div class="col-md-10">
    <a class="btn btn-dark btn-lg" href="/dodaj-oglas" role="button">
     Dodaj vnos

    </a>
</div>
    <div class="col-md-1"></div>
</div>
</div>
</div>
</body>
</html>
<style>
body {
margin:30px;

}

.end {
    border:none !important;
    vertical_align:middle;
}
</style>
<script>
    $(".delete-button").click(function(){
          var id = $(this).attr("id")
          var isOk = confirm('Delete this listing?');
          if (isOk==true) {

                $.ajax (
            {

    type:"POST",
    data: {
            id: id,
            action: 'delete_from_db',

    },
    success: function(data) {

        location.reload();
        }

    });
    };
});
</script>
